<div id="following-index-table">
    <table>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Your fraction</th>
            <th>Index fraction</th>
            <th>Difference in fraction</th>
        </tr>
        {{ range $stock := .stocks }}
        <tr>
            <td>{{ $stock.Name }}</td>
            <td>{{ $stock.Quantity }}</td>
            <td>{{ printf "%.2f" $stock.Price }}</td>
            <td>{{ printf "%.2f" $stock.CurrentFraction }}</td>
            <td>{{ printf "%.2f" $stock.SuggestedFraction }}</td>
            <td>{{ printf "%.2f" $stock.DifferenceInFraction }}</td>
        </tr>
        {{ end }}
    </table>
    <div>Pls imagine there is a chart, I got no money to do that. I am poor, my family is starving and the team lead is just sitting up there laughing at us, poor junior programmers. Pls God help us, I am begging you.</div>
</div>

