{{template "base" .}}

{{define "title"}}
Choose Portfolio
{{end}}

{{define "main"}}
<link rel="stylesheet" href="../static/portfolioCreatorForm.css" type="text/css">
<form class="row" id="selectAssetsForm" method="post">
    <label>
        Name:
        <input type="text" id="portfolioNameInput" placeholder="Portfolio Name"/>
    </label>
    <br/>
    <div class="row">
        Select Assets:
        <label>
            <select id="selectAssets">
                {{ range $asset := .assets }}
                <option value={{$asset.Name}}> {{ $asset.Name }} </option>
                {{ end }}
            </select>
        </label>

        <label>
                Quantity:
                <input id="quantityInput" type="number" value="1" min="1"/>
        </label>

        <label>
            <button id="addAssetButton" type="button">
                Add Asset
            </button>
        </label>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="chosenListTbody"></tbody>
        </table>
    </div>
    <button type="button" id="submitButton">Submit</button>
    <div class="row" id="success_text"></div>
</form>
<script type="module" src="../static/portfolioCreatorForm.js" ></script>
<script type="module" src="../static/validators.mjs" ></script>
<script>
    $(document).ready(function() {
        $('#selectAssets').select2();
    });
</script>
{{ end }}